body {
    font-size: 62.5%;

}

.header {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  .coverHeader {
    width: 50%;
  }

  .header .layer1 {
    display: flex;
    flex-direction: column
  }

  .logo {
    display: flex;
    width: 100%
  }

  .navs {
    width: 75%;
    display: flex;
    justify-content: flex-start;
  }

  .navs ul {
    display: flex;
    align-items: center;
    padding-left: 0;
  }

  .navs ul li {
    margin: 0 1.2rem;
    list-style-type: none;
  }

  .navs a {
    /* font-weight: bold; */
    font-family: 'Quicksand';
    color: gray;
    font-size: 0.5rem;
    font-weight: 400;
    font-size: 0.8rem;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    position: relative!important;
    padding-bottom: 0.2rem
  }

  .navs a:after {
    content: "";
    position: absolute;
    width: 0%;
    transition: 0.5s;
    height: 2px;
    background-color: #3f3d56;
    bottom: 0;
  }

  .navs a:hover::after {
    width: 100%;
    transition: 0.5s
  }

  .navs a:hover {
    color: #3f3d56;
    font-weight: bold;
    transition: 0.5s;
  }


  .img {
    display: flex;
    padding: 2rem;
    position: relative;
    width: 25%
  }

  .img span {
    position: absolute;
    top: 50px;
    right: 50px;
    font-weight: bold;
    font-family: 'Quicksand';
    font-size: 1rem;
    background: -webkit-linear-gradient(#f49900, #f20071);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .img img {
    width: 50%
  }

  .layer2 {
    display: flex;
    /* position: relative */
  }

  .desc {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    width: 50%
  }

  .photo {
    width: 50%
  }

  .photo img {
    width: 50%
  }

  .desc span:nth-child(1) {
    font-size: 1.5rem;
    /* color: gray */
  }
  

  .desc span:nth-child(2) {
    font-size: 2.5rem;
    color: #F46716;
    font-weight: bold;
    
  }

  .typed-text {
    font-size: 1.8rem!important;
    color: #4e76d5;
    font-weight: bold;
    font-family: 'Quicksand';
  }

  .typed-text2 {
    display: flex;
    align-items: center;
  }

  .typed-text2 p {
    height: 4vh;
  }

  .icon-banner {
    display: flex;
    position: absolute;
    justify-content: flex-end;
  }

  .icon-banner img {
    width: 60%;
    animation: scale 4s ease-in-out infinite;
    position: relative;
  }

  /* .layer2 {
    border-bottom: 5px solid #3f3d56;
  } */

  .iconing {
    display: flex;
    margin-bottom: 3rem ;
    margin-bottom: 1rem ;
    position: relative;
    z-index: 9999999999999999999999999999999999999999999;
  }

  .iconing a {
    width: 50px;
    cursor: pointer
  }

  .iconing i {
    font-size: 1.5rem;
    color: #3f3d56;
    transition: 1s
    
  }

  .iconing i:hover {
    color: #4b4dda;
    transition: 0.5s
  }

  .btnStart {
    margin: 1rem 0;
    display: flex;
    position: relative;
    z-index: 9999999999999999999999999999999999999999999;
  
  }

  .btnStart button {
    width: 170px;
    border-radius: 0.3rem;
    padding: 0.8rem 0;
    border: none;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    font-family: 'Quicksand';
    font-weight: bold;
    transition: 0.5s!important;
    /* opacity: 0.5!important; */
    outline: none;
    background-size: 200% auto!important;
    background: linear-gradient(to right, #ed239f 0%, #474ad0 51%, #ed239f 100%);
  }

  .btnStart button:hover {
    transition: 0.5s!important;
    background-position: right center!important;
    /* opacity: 1!important; */

  }

  .about {
    display: flex;
    /* justify-content: center; */
    padding: 5rem 0;
    flex-direction: column;
    align-items: center;
  }

  .coverAbout {
    width: 50%;
    /* border: 1px solid gray; */
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgMain {
    display: flex;
    align-items: center;
  }

  .imgMain img {
    width: 50%;
    
  }

  .imgMain span {
    margin: 2rem 0;
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: lighter;
  }

  .imgMain img , .descAbout {
    width: 50%;
    margin: 3rem;
  } 

  .biodata {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .biodata .icon-main {
    border: 5px solid #ececec;
    border-radius: 50%;
    padding: 1.5rem;
    font-size: 2.5rem;
  }

  .skills h5 span,
  .edu h5 span {
    font-size: 2rem;
  }

  .bio1 , .bio2 {
    display: flex;
  }

  .fa-circle {
    padding: 0.5rem;
    border: 5px solid #05364d;
    border-radius: 50%;
    color: #05364d;
    font-size: 2rem;
  }

  .edu, .skills {
    padding: 1rem;
    width: 50%;
  }
  
  .edu {
    border-right: 1px solid gray;
    
  }

  .contents {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    font-size: 1.2rem;
  }

  .year span {
    padding: 1rem;
  }

  .contents div {
    display: flex;
  }

  .contents .icons,
  .contents .year,
  .contents .school {
    margin-right: 2rem;
    position: relative;
  }

  .school {
    display: flex;
    flex-direction: column;
  }

  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icons .lines {
    height: 100%;
    background-color: #05364d;
    width: 5px;

  }

  .programming .coverProgram{
    display: flex;
    flex-direction: column;
  }

  .programming div {
    display: flex;
  }

  .programming div img {
    width: 10%;
  }

  .programming div span {
    display: flex;
    align-items: center;
  }

  .percen {
    display: flex;
  }

  .outside {
    display: flex;
    width: 50%;
    border: 1px solid gray;
  }

  .outside div {
    width: 25%;
    border: 1px solid gray;
  }

  footer {
    width: 100%;
    background-color: #021017;
    display: flex;
    justify-content: center;
    height: 50vh;
  }

  .foot {
    width: 50%;
    
  }

  .footIcon {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .footIcon span {
    font-size: 1.5rem;
    font-family: 'Roboto';
    font-weight: 500;
    display: flex;
    align-items: center;
    color: white;
  }

  .footIcon img {
    width: 10%;

  }

  .footNav {
    display: flex;
    justify-content: center;
  }

  .footNav ul {
    display: flex;
  }
  
  .footNav li {
    list-style: none;
    margin: 0 1rem;
  }

  .footNav a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.3rem;
  }

  .footNav a:after {
    content: "";
    position: absolute;
    width: 0%;
    transition: 0.5s;
    height: 2px;
    background-color: white;
    bottom: 0;
  }

  .footNav a:hover::after {
    width: 100%;
    transition: 0.5s
  }

  .footSosmed {
    display: flex;
    justify-content: center;
  }

  .footSosmed a {
    margin: 0 1rem ;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.5s;
  }

  .footSosmed i {
    padding: 1rem;
    border-radius: 50%;
    background-color: white;
    color: #021017;
  }

  .footSosmed a .fa-facebook-f {
    padding: 1rem 1.5rem;
  }


  .footSosmed a .fa-instagram {
    padding: 1rem 1.3rem;
  }


  .footSosmed a .fa-linkedin {
    padding: 1rem 1.3rem;
  }

  .footNote {
    display: flex;
    margin: 1.5rem;
    justify-content: center;
  }

  .footNote span {
    text-align: center;
    font-size: 1rem;
    color: #ccc;
    font-weight: lighter;
  }

  .aboutme {
    font-size: 1.2rem!important;
    font-weight: 400!important;
    color: #ccc9c9;
  }

  .descAbout h4 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .sf {
    font-weight: 400;
    font-family: 'Quicksand';
    font-style: italic;
  }

  #portofolio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
  }

  .cover1, .cover2 {
    width: 50%;
  }

  .titleLayer1 span{
    font-size: 1.2rem !important;
    font-weight: 400 !important;
    color: #ccc9c9;
    font-family: 'Roboto';
  }

  .titleLayer1 h3 {
    width: 40%;
    font-size: 2rem;
    font-family: 'Roboto';
    color: #05364d;
  }

  .navPortof {
    display: flex ;
    justify-content: space-between;
    padding: 3rem 0;
  }

  .navPortof h5 {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.2rem;
    font-size: 1.5rem;
    background: -webkit-radial-gradient(#474ad0, hotpink);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .navPortof h5:after {
    content: "";
    position: absolute;
    width: 0%;
    transition: 0.5s;
    height: 3px;
    background: linear-gradient(to right, #474ad0 0%, #474ad0 51%, #ed239f 100%);
    background-size: auto;
    bottom: 0;
  }
  
  .navPortof h5:hover:after {
    width: 100%;
    transition: 0.5s
  }
    


  .eduContent, .skillContent,
  .expContent, .achieveContent {
    display: flex;
    width: 100%;
  }

  .skillContent {
    justify-content: space-between;
  }

  .eduContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.5rem;
    padding-bottom: 2rem;
    background-color: ghostwhite;
    box-shadow: 0px 1px 3px 1px #d5d5d5;
    
  }
  
  .eduContent .eduCovers {
    display: flex;
    
  }
  
  .eduCovers {
    height: 20vh;
    width: 100%;
    justify-content: center;
  }
  
  .school, .year , .icons {
    display: flex;
    width: 30%;
  }
  
  .year {
    justify-content: center;

  }

  .school {
    align-items: center;
    padding: 1rem;
  }

  .eduCovers span {
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: 500;
  }


.skillContent {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.coverSkillContent {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

}

.coverSkill {
  display: flex;
  flex-direction: column;
  position: relative;
  /* box-shadow: 0px 2px 10px #c3c3c6; */
  border-radius: 0.5rem;
  width: 285px;
  cursor: pointer;
  height: 50vh;
  border: 1px solid #0b1c2d;
  margin-bottom: 1rem;
}

.coverSkill div {
  width: 100%;
}

.imgSkill {
  display: flex;
}

.imgSkill img {
  width: 1000%;
  border-radius: 1.5rem;
  padding: 0.5rem;
}

.Desc {
  padding: 1rem;
}

.Ability {
  display: flex;
  position: absolute;
  bottom: 15px;
  padding: 0 1rem;
}

.Ability div,
.Ability span{
  width: 50%;
}

.Ability div {
  display: flex;
  justify-content: flex-end;
}

.titleEdu {
	display: flex;
	justify-content: center;
	margin: 0 0 2rem 0;
	font-size: 1.5rem;
	font-family: 'Quicksand';
	font-weight: bold;
	color: white;
  background: linear-gradient(to right, #ed239f 0%, #474ad0 51%, #ed239f 100%);
  padding: 0.5rem 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.titleSkill {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  background: linear-gradient(to right, #ed239f 0%, #474ad0 51%, #ed239f 100%);
  box-shadow: 0 0 14px 0px #b9157a;
  border-radius: 0.4rem;

}

.titleSkill span {
    padding: 0.5rem 0;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Quicksand';
}

.navSkill {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
}

.navSkill a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-size: 1.2rem;
  color: gray;
  position: relative;
  padding: 0.2rem 0;
}

.navSkill a:after {
  content: "";
  position: absolute;
  width: 0%;
  transition: 0.5s;
  height: 3px;
  background-color: gray;
  bottom: 0;
}

.navSkill a:hover:after {
  width: 100%;
  transition: 0.5s
}

.achieveContent {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.ach1, .ach2 {
  display: flex;
}

.ach1 {
  justify-content: center;
  margin: 1rem 0;
  background: linear-gradient(to right, #ed239f 0%, #474ad0 51%, #ed239f 100%);
  box-shadow: 0 0 14px 0px #b9157a;
  border-radius: 0.4rem;
}

.ach1 span {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Quicksand';
  color: white;
}

.coverAch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.descAch {
  padding: 2rem;
  background-color: azure;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.coverAch1 {
  display: flex;
  flex-direction: column;
}

.imgAch {
  display: flex;
  width: 100%;
}

.imgAch img {
  width: 100%;
  border-top-left-radius: 0.5rem;
border-top-right-radius: 0.5rem;
}

 .coverAch1 {
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 1px #cecece;
} 

.descAch h5 {
  display: flex;
}

.descAch span {
  width: 20%;
}

.typed-text {
  font-weight: bold;
  padding-bottom: 1rem;
}

.cursor {
	display: inline-block;
	width: 3px;
	/* background-color: #4e76d5; */
	margin-left:0.1rem;
	animation: blink 1s infinite;
}

@keyframes blink {
  0% { background-color: #4e76d5; }
  49% { background-color: #4e76d5; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100% { background-color: #4e76d5; } 
}

.textDecs{
  font-size: 1.2rem;
  font-weight: 300;
}

.btnAchiev {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.btnAchiev button {
  padding: 0.5rem 0;
  width: 20%;
  padding: 0.5rem 0;
  font-family: 'Poppins';
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  color: #ed239f;
  position: relative;
  border: 1px solid #ed239f;
  transition: 0.5s;
  outline: none;
}

.btnAchiev button:hover {
  background: linear-gradient(to left, #ed239f 0%, #ed239f 51%, #474ad0 100%);
  transition: 0.5s;
  color: white;
  /* font-weight: bold; */
  border: 1px solid white;
}

.expContent {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}


  



  @keyframes scale {
    0% { 
      /* transform: scale(1); */
          bottom: 80px;
    }
    49% { 
      /* transform: scale(0.7); */
           bottom: 15px;

    }
    50% {
       /* transform: scale(0.7); */
          bottom: 15px;

    }
    99% { 
      /* transform: scale(1); */
          bottom: 80px;
    }
    100% {
       /* transform: scale(1);  */
      bottom: 80px;

    } 
  }

  @media only screen and (max-width: 1680px) { 

    .img span {
      top: 40px;
      right: 25px;
    }
    
    .desc span:nth-child(2) {
      font-size: 2.2rem;
    }

    .desc span:nth-child(3) {
      font-size: 1.5rem;
    }

    .iconing i {
      font-size: 1.7rem;
    }

    .btnStart button {
      padding: 0.8rem 0;
    }

    .icon-banner {
      justify-content: center;
    }

    .icon-banner img {
      width: 70%;
    }

    .navs ul li {
      margin: 0 1rem;
    }

  }


  

  




